body{
    font-family: 'Times New Roman', Times, serif;
    margin:20px;
    padding: 0;
    background-color: aqua;

}
form{
    margin:auto;
    
    box-shadow: 4px 8px rgb(10, 0, 0);
    padding:20px;
    max-width: 600px;
    border-radius: 8px;

}
h1{
    text-align: center;
    margin-bottom: 20px;
    max-width: 400px;
}
fieldset{
    border:2px solid rgb(12, 1, 1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: rgb(236, 210, 178);

}
legend{
    font-weight: bold;
    text-align: left;
    color: rgb(8, 7, 7);
}
label{
    
    display: block;
    margin-top: 10px;
    color: rgb(0, 0, 0);

}
input,textarea{

    margin-top: 4px;
    padding:8px;
    width: calc(100%-1px);
    border: 1px solid rgb(75, 70, 142);
    border-radius: 4px;
    box-sizing: border-box;
}
#resume-display{
    max-width: 600px;
    margin: auto;
    padding: 20px ;
    border-radius: 8px;
    background-color: azure;
    box-shadow: 0 4px 8px rgb(18, 2, 2);
    outline:none;
    border:2px solid rgb(75, 75, 136);

}
button{
    display: block;
    width: 100px;
    margin-top: 15px;
    background-color: rgb(24, 118, 118);
    color: black;
    border:none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(30, 1, 1);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    color: rgb(53, 53, 239);
}